In [1]:
#We will be using census data from the United States Census Bureau

In [5]:
import pandas as pd
df = pd.read_csv('census.csv')

In [6]:
#Which state has the most counties in it?

In [7]:
#method 1
df.set_index('STNAME')
df = df[df['STNAME']!='District of Columbia']
df1 = pd.DataFrame([])
j=0
for i in df.SUMLEV:
    if i==40:
       
        j=j+1
        if j>1:
           
            s= pd.Series(c)
            df1= df1.append(s,ignore_index=True )
        c=0
    else:
        c=c+1
g=pd.Series(c)
df1= df1.append(g,ignore_index=True )

In [8]:
df.STNAME.unique().shape
a=df.STNAME.unique()

In [9]:
df1 = df1.set_index(a)
df1.columns = ['Total counties']
df1

                Total counties
Alabama                   67.0
Alaska                    29.0
Arizona                   15.0
Arkansas                  75.0
California                58.0
Colorado                  64.0
Connecticut                8.0
Delaware                   3.0
Florida                   67.0
Georgia                  159.0
Hawaii                     5.0
Idaho                     44.0
Illinois                 102.0
Indiana                   92.0
Iowa                      99.0
Kansas                   105.0
Kentucky                 120.0
Louisiana                 64.0
Maine                     16.0
Maryland                  24.0
Massachusetts             14.0
Michigan                  83.0
Minnesota                 87.0
Mississippi               82.0
Missouri                 115.0
Montana                   56.0
Nebraska                  93.0
Nevada                    17.0
New Hampshire             10.0
New Jersey                21.0
New Mexico                33.0
New York                  62.0
North Carolina           100.0
North Dakota              53.0
Ohio                      88.0
Oklahoma                  77.0
Oregon                    36.0
Pennsylvania              67.0
Rhode Island               5.0
South Carolina            46.0
South Dakota              66.0
Tennessee                 95.0
Texas                    254.0
Utah                      29.0
Vermont                   14.0
Virginia                 133.0
Washington                39.0
West Virginia             55.0
Wisconsin                 72.0
Wyoming                   23.0

In [11]:
df1['Total counties'].idxmax()

'Texas'

In [12]:
#Method - 2

In [18]:
#A groupby operation involves some combination of splitting the object, applying a function, 
#and combining the results. This can be used to group large amounts of data and compute operations on these groups.
#nunique is used to find the number of unique occurences on a given axis

df[df['SUMLEV']==50].groupby('STNAME')['CTYNAME'].nunique().idxmax()

'Texas'

In [30]:
#Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use CENSUS2010POP.
#This function should return a list of string values.

In [29]:

df[df['SUMLEV']==50].groupby('STNAME')['CENSUS2010POP'].apply(lambda x: x.nlargest(3).sum()).nlargest(3).index.values.tolist()

['California', 'Texas', 'Illinois']

In [31]:
#Which county has had the largest absolute change in population within the period 2010-2015
df=df[df['SUMLEV']==50]

In [37]:
#axis = 1, as we want to find min for columns
columnstokeep = ['POPESTIMATE2015','POPESTIMATE2014','POPESTIMATE2013','POPESTIMATE2012','POPESTIMATE2011','POPESTIMATE2010']
df.loc[(df[columnstokeep].max(axis=1)-df[columnstokeep].min(axis=1)).idxmax()]['CTYNAME']

'Harris County'

In [57]:
# In this datafile, the United States is broken up into four regions using the "REGION" column.

# Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', 
#and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

# This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] 
#and the same index ID as the census_df (sorted ascending by index).

df = df[df['SUMLEV']==50]
df =df[((df['REGION']==1) | (df['REGION']==2)) & (df['POPESTIMATE2015']>df['POPESTIMATE2014']) &(df['CTYNAME'].str.startswith('Washington',na=False)) ]

In [58]:
c=['STNAME','CTYNAME']
df[c]

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County